<section class="contact_us">
  <div class="page-width">
<div class="heading">
  <h3 class="sub_heading">{{ section.settings.sub_head }}</h3>
  <h2 class="head">{{ section.settings.heading }}</h2>
  <p class="description_inner">{{ section.settings.description }}</p>
    </div>


    <div class="contact_us-blocks">
      {% for block in section.blocks%}
<div class="contact_us_content">
      <h3>{{ block.settings.con_head }}</h3>
</div>
      
      <div class="contact__fields">
        <div class="contact_inner">
        <div class="field">
          <input
            class="field__input"
            autocomplete="name"
            type="text"
            id="ContactForm-name"
            name="contact[{{ 'templates.contact.form.name' | t }}]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="{{ 'templates.contact.form.name' | t }}"
          >
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        </div>
          <div class="contact_inner">
        <div class="field">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">
            {{- 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span></label
          >
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">
                {%- render 'icon-error' -%}
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email -}}
              </span>
            </small>
          {%- endif -%}
        </div>
          </div>
      </div>


      
      <div class="field">
        <input
          type="sub"
          id="ContactForm-subject"
          class="field__input"
          autocomplete="tel"
          name="contact[{{ 'templates.contact.form.phone' | t }}]"
         
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ 'templates.contact.form.phone' | t }}"
        >
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>

      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">
          {{- 'templates.contact.form.comment' | t -}}
        </label>
      </div>

      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {% endfor %}
    </div>
  </div>
</section>



<style>
  .contact_us{
    padding-top:{{ section.settings.padding }}px;
  }
</style>









{% schema %}
  {
    "name": "contact_us",
    "settings": [
 {
      "type": "range",
      "id": "padding",
      "label": "Padding top",
         "min": 90,
          "max": 190,
          "step": 1,
          "unit": "px",
          "default": 90
    },
       {
      "type": "text",
      "id": "sub_head",
      "label": "Sub heading"
    },
       
     {
      "type": "text",
      "id": "heading",
      "label": "heading"
    },
     {
      "type": "text",
      "id": "description",
      "label": "pro-description"
    }
      
    ],
    "blocks": [
     {
       "name": "contact us",
       "type": "slide",
       "settings": [
       
         {
          "type": "text",
          "id": "con_head",
          "label": "Heading"
        }
       ]
     }
  ],
     
    "presets": [
      {
        "name": "contact_us"
      }
    ]
  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}